
<%= form_for @task do |form| %>
    <ul>
        <li><%= form.label :やりたいこと %><%= form.text_field :name %></li>
        <li><%= form.submit %></li>
    </ul>
<% end %>


<table class="tasks">
    <col class="name" />
    <col class="due_date" />
    <%= render @tasks %>
</table>
