
<%= text_field 'text','field' %>
<%= form_for @task do |form| %>
    <ul>
        <li><%= form.label :name %><%= form.text_field :name %></li>
        <li><%= form.label :due_date %><%= form.date_select :due_date %></li>
        <li><%= form.submit %></li>
    </ul>
<% end %>


<table class="tasks">
    <col class="name" />
    <col class="due_date" />
    <%= render @tasks %>
</table>
